body
{
	background-color: white;
}
a { color: blue-light;}


.well 

{ 
	background-color:rgba(0, 0, 0, 0.5);
	border-style: hidden;
        color: white;
        font-family: "Arial", Monaco, monospace; 
	font-size: 18px;
}


.well a {  color: #1E90FF; }


#important
{
  color: red;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: white;
}

.well tr:hover {background-color: #DCDCDC;}
